:host{

    height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(48, 48, 48);

}

.footerlayout{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0px;
    color: #7b7b7b;
    align-items: center;

}

