<div class="navframe">
        
        
        <div *ngFor="let rout of routList; let r = rout" class="navitem" (click)="navTo(rout.rout)"  >

                <span>{{rout.name}}</span>
        </div>


    <!-- <div class="navitem">
        
        <span>HOME</span>
    </div>

    <div class="navitem">
        
            <span>SAMPLES</span>
    </div>

    <div class="navitem">
        
            <span>BINDING</span>
    </div>

    <div class="navitem" (click)="navTo(routRbac)">
        
            <span>RBAC</span>
    </div> -->


</div>
