
<!-- input fields -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login to Rbac Service with valid credentials</h5>



        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                <mat-label>user name</mat-label>
                <input required matInput [(ngModel)]="userName">
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>


        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                <mat-label>password</mat-label>
                <input type="password" required matInput [(ngModel)]="password" >
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>
        <div class="smp_subsect_hor">
            <div class="single_it">
                <button mat-raised-button (click)="login()">login</button>
            </div>
        </div>
        <div class="smp_subsect_hor">
            <div class="single_it">
                <div>{{rspMsg}}</div>
            </div>
        </div>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Plain response
                </mat-panel-title>
                <mat-panel-description>
                    here we display the whole returned object from angular rbac service
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{loginRsp | json}}
        </mat-expansion-panel>
        
    </div>
</div>