
<!-- buttons -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Buttons</h5>
        <div class="smp_subsect_hor">

            <div class="single_it"><button mat-button>default</button></div>
            <div class="single_it"><button mat-raised-button>raised</button></div>
            <div class="single_it"><button mat-flat-button>flat</button></div>
            <div class="single_it"> <button mat-stroked-button>stroked</button></div>

        </div>

        <div class="smp_subsect_hor">

            <div class="single_it"><button mat-icon-button>icon</button></div>
            <div class="single_it"><button mat-fab>fab</button></div>
            <div class="single_it"><button mat-mini-fab>min-f</button></div>

        </div>

        <div class="smp_subsect_hor">

            <div class="single_it"><button color="primary" mat-button>color primary</button></div>
            <div class="single_it"><button color="accent" mat-button>color accent</button></div>
            <div class="single_it"><button color="warn" mat-button>color warn</button></div>
            <div class="single_it"><button color="primary" mat-raised-button>color primary</button></div>
            <div class="single_it"><button color="accent" mat-raised-button>color accent</button></div>
            <div class="single_it"><button color="warn" mat-raised-button>color warn</button></div>

        </div>

        <div class="smp_subsect_hor">

            <div class="single_it"><mat-button-toggle #toggleBtn>toggle me</mat-button-toggle></div>
            <div class="single_it">{{toggleBtn.checked}}</div>

            <div class="single_it"><mat-button-toggle-group #toggleGrpA="matButtonToggleGroup">

                <mat-button-toggle value="A">one</mat-button-toggle>
                <mat-button-toggle value="B">two</mat-button-toggle>
                <mat-button-toggle value="C">three</mat-button-toggle>

            </mat-button-toggle-group></div>

            <div class="single_it">selected one: {{toggleGrpA.value}}</div>

            <div class="single_it"><mat-button-toggle-group #toggleGrpB="matButtonToggleGroup" multiple>

                <mat-button-toggle value="A">one</mat-button-toggle>
                <mat-button-toggle value="B">two</mat-button-toggle>
                <mat-button-toggle value="C">three</mat-button-toggle>

            </mat-button-toggle-group></div>
            <div class="single_it">selected multiple: {{toggleGrpB.value}}</div>
        </div>
        
    </div>
</div>



<!-- icons -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Icons</h5>


        <div class="smp_subsect_hor">
            <div class="single_it"><mat-icon color="primary">grade</mat-icon></div>
            <div class="single_it"><mat-icon color="accent">grade</mat-icon></div>
            <div class="single_it"><mat-icon color="warn">grade</mat-icon></div>

        </div>
        
    </div>
</div>



<!-- badges -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Badges</h5>

        <div class="smp_subsect_hor">
            <div class="single_it"><span matBadge="1" >Notificaton</span></div>
            <div class="single_it"><span matBadge="2" matBadgePosition="below before">Notificaton</span></div>
            <div class="single_it"><span matBadge="3" matBadgePosition="below after">Notificaton</span></div>
            <div class="single_it"><span matBadge="4" matBadgePosition="above before">Notificaton</span></div>

        </div>
        <div class="smp_subsect_hor">
            <div class="single_it"><span matBadge="p" matBadgeColor="primary" matBadgeOverlap="false">Notificaton</span></div>
            <div class="single_it"><span matBadge="a" matBadgeColor="accent" matBadgePosition="below before" matBadgeOverlap="false">Notificaton</span></div>
            <div class="single_it"><span matBadge="w" matBadgeColor="warn" matBadgePosition="below after" matBadgeOverlap="false">Notificaton</span></div>
            
        </div>
        <div class="smp_subsect_hor">
            <div class="single_it"><span matBadge="s" matBadgeSize="small" matBadgeOverlap="false">Notificaton</span></div>
            <div class="single_it"><span matBadge="m" matBadgeSize="medium" matBadgeOverlap="false">Notificaton</span></div>
            <div class="single_it"><span matBadge="l" matBadgeSize="large" matBadgeOverlap="false">Notificaton</span></div>
            
        </div>
        
    </div>
</div>


<!-- progress indication -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Progress Indication</h5>

        <div class="smp_subsect_hor">

            <div class="single_it">
                <mat-progress-spinner value="25"></mat-progress-spinner>progress mode 25%
            </div>
            <div class="single_it">
                <mat-progress-spinner value="50"></mat-progress-spinner>progress mode 50%
            </div>
            <div class="single_it">
                <mat-progress-spinner value="75"></mat-progress-spinner>progress mode 75%
            </div>
            <div class="single_it">
                <mat-progress-spinner value="100"></mat-progress-spinner>progress mode 100%
            </div>

        </div>


        <div class="smp_subsect_hor">
                <div class="single_it"><button mat-raised-button (click)="letSpinnerRunForAWhile()">let it spinn for a while</button></div>
                <div class="single_it"><mat-spinner *ngIf="spinnOn"></mat-spinner></div>
        </div>
        
    </div>
</div>


<!-- navigation toolbar -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Navigation Bars</h5>


        <div class="smp_subsect_hor">
        
            <div class="single_it">
                <mat-toolbar color="primary" class="navbar">
                    <div>NAV ME</div>
                    <div>
                        <span>Home</span>
                        <span>About</span>
                        <span>Links</span>
                    </div>
                </mat-toolbar>
            </div>


            <div class="single_it">
                <div style="width: 400px; height: 300px;">
                    <mat-sidenav-container>

                        <!-- here we face the first two way data binding -> [(prop)] banana in the box -->
                        <mat-sidenav mode="side" [(opened)]="sidebarIsOpen">Sidenav</mat-sidenav>

                        <mat-sidenav-content>navigated content
                            <button mat-raised-button (click)="sidebarIsOpen=!sidebarIsOpen">toggle sidebare</button>
                        </mat-sidenav-content>
        
                    </mat-sidenav-container>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- menu -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Menu</h5>

        <div class="smp_subsect_hor">

            <div class="single_it">

                <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                    <ng-template matMenuContent let-name="name">
                        <button mat-menu-item>item one</button>
                        <button mat-menu-item>item two</button>
                        <button mat-menu-item [matMenuTriggerFor]="subMenu">item three</button>

                    </ng-template>
                </mat-menu>

                <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu One</button>
                
                <mat-menu #subMenu="matMenu">
                    
                    <ng-template matMenuContent let-name="name">
                        <button mat-menu-item>sub one</button>
                        <button mat-menu-item>sub two</button>
                        <button mat-menu-item>sub three</button>
                        <button mat-menu-item>{{name}}</button>
                    </ng-template>
                </mat-menu>

                <button
                    mat-raised-button
                    [matMenuTriggerFor]=subMenu
                    [matMenuTriggerData]="{name:'dnynamic AA'}"
                >
                dyn one
                </button>

                <button
                    mat-raised-button
                    [matMenuTriggerFor]=subMenu
                    [matMenuTriggerData]="{name:'dnynamic BB'}"
                >
                dyn two
                </button>

            </div>

        </div>
        
    </div>
</div>

<!-- list -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lists</h5>
        


        <div class="smp_subsect_hor">
            <mat-list dense>
                <mat-list-item>Item 1</mat-list-item>
                <mat-list-item>Item 2</mat-list-item>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </div>

        <div class="smp_subsect_hor">
            <mat-nav-list>
                <a mat-list-item href="#">Item 1</a>
                <a mat-list-item href="#">Item 2</a>
                <a mat-list-item href="#">Item 3</a>
            </mat-nav-list>
        </div>

        <div>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListIcon>home</mat-icon>
                    <h3 matLine>heading 1</h3>
                    <p matLine>line 1</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListIcon>folder</mat-icon>
                    <h3 matLine>heading 2</h3>
                    <p matLine>line 2</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListIcon>android</mat-icon>
                    <h3 matLine>heading 3</h3>
                    <p matLine>line 3</p>
                </mat-list-item>
            </mat-list>
        </div>
        
    </div>
</div>


<!-- Grids -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Grids</h5>

        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="4px">
            <mat-grid-tile>tile 1</mat-grid-tile>
            <mat-grid-tile>tile 2</mat-grid-tile>
            <mat-grid-tile>tile 3</mat-grid-tile>

            <mat-grid-tile>tile 4</mat-grid-tile>
            <mat-grid-tile>tile 5</mat-grid-tile>
            <mat-grid-tile>tile 6</mat-grid-tile>

            <mat-grid-tile>tile 7</mat-grid-tile>
            <mat-grid-tile colspan="2">tile 8</mat-grid-tile>
        </mat-grid-list>
        
        
    </div>
</div>



<!-- Panel in Accordion -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Panels in Accordion</h5>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Panel 1
                    </mat-panel-title>
                    <mat-panel-description>
                        first panel contained in an accordion container
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>here you can place anything you want as panel content</p>
                <mat-action-row>
                    <button mat-button>enroll</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Panel 2
                    </mat-panel-title>
                    <mat-panel-description>
                        second panel contained in an accordion container
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>here you can place anything you want as panel content</p>
                <mat-action-row>
                    <button mat-button>enroll</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
        
    </div>
</div>



<!-- input fields -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Input Fields</h5>


        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="legacy">
                <mat-label>someText</mat-label>
                <input required matInput>
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>


        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="left" hideRequiredMarker appearance="standard">
                <mat-label>someText</mat-label>
                <input required matInput>
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>


        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label>someText</mat-label>
                <input required matInput>
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>


        <div class="smp_subsect_hor">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                <mat-label>someText</mat-label>
                <input required matInput>
                <mat-hint align="end">min 5 characters</mat-hint>
            </mat-form-field>
        </div>
        
    </div>
</div>




<!-- input tryout -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Input Fields Setup</h5>

        <div class="example-container">
                <form class="example-container" [formGroup]="options">
                  <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
                  <div>
                    <label>Float label: </label>
                    <mat-radio-group formControlName="floatLabel">
                      <mat-radio-button value="auto">Auto</mat-radio-button>
                      <mat-radio-button value="always">Always</mat-radio-button>
                      <mat-radio-button value="never">Never</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </form>
              
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <input matInput placeholder="Simple placeholder" required>
                </mat-form-field>
              
                <mat-form-field [floatLabel]="options.value.floatLabel">
                  <mat-label>Both a label and a placeholder</mat-label>
                  <input matInput placeholder="Simple placeholder">
                </mat-form-field>
              
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <mat-select required>
                    <mat-option>-- None --</mat-option>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                  <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
                </mat-form-field>
              </div>
              
        
    </div>
</div>




<!-- datepicker -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Date Picking</h5>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
                
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)"
                [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
                
        <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="date.value">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
                
        
        
    </div>
</div>


<!-- tabs -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tab Group</h5>

        <mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>

        
    </div>
</div>


<!-- stepper -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Process Stepper</h5>

        <mat-horizontal-stepper linear>

            <mat-step label="first step" completed=true>
                <p>maby a person data form</p>
                <div>
                    <button mat-button matStepperNext>Done</button>
                </div>
            </mat-step>

            <mat-step label="second step" completed=true>
                <p>maby an address form</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Done</button>
                </div>
            </mat-step>

            <mat-step label="final step" completed=true>
                <p>maby a summary to finalalize your process</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
        
        
    </div>
</div>


<!-- datatable -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Data Table</h5>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                    <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
              
        
        
    </div>
</div>