<!-- <app-ngoverview></app-ngoverview> -->

<div class="rootbox">

  <div class="bodybox">


      <div class="headbox">
        <div style="width: 100%; height: 100%; background-color: aquamarine">head fill</div>
      </div>

      <div class="contentbox">
          <div style="width: 100%; height: 100%; background-color: blueviolet">content fill fill</div>
      </div>

      <div class="footbox">
          <div style="width: 100%; height: 100%; background-color: brown">foot fill fill</div>
      </div>


  </div>


</div>



<router-outlet></router-outlet>