/* by [:host] selector we style the component tag itself */
:host{
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0px;
}


/* component elements */

.rootbox{
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.bodybox{
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

.headbox{
    background-color: gray;
    flex: 0 0 auto;
}

.contentbox{
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}

.footbox{
    background-color: gray;
    flex: 0 0 auto;
}


/* content stuff */
.contentdivision{

    display: flex;
    height: 100%;

}


.contentnavbox{

    /* height: 100%;
    width: 170px; */
    flex: 0 0 auto;

}

.contentareabox{

    /* height: 100%;
    flex-grow: 1; */
    flex: 1 1 auto;
    position: relative;
    overflow: auto;

}